%h1 Log in

= form_tag sessions_path do
  %p
    = label_tag :username
    = text_field_tag :username, params[:username]
  %p
    = label_tag :password
    = password_field_tag :password
  =submit_tag 'Log in'
    


/ <%= form_tag sessions_path do %>
/   <p>
/     <%= label_tag :email %><br />
/     <%= text_field_tag :email, params[:email] %>
/   </p>
/   <p>
/     <%= label_tag :password %><br />
/     <%= password_field_tag :password %>
/   </p>
/   <p class="button"><%= submit_tag "Log in" %></p>
/ <% end %>