%p#up=@up
%div.hero
  %div.hero_inset
    %h1.league_name.draft_name
      = @league.name + ":"
      %span Your Draft is Underway!
    %div#flash_notice.flash_notice
    =draft_order
    / %div.draft_order
    /   %h2 Draft Order
    /   = draft_order
    /   %div.clear
    /   %div.placeholder
    = draft_board
%div.draft_bottom_content
  %h2 Contestant Pool 
  =contestant_pool
  %div.clear

%div#order
  / =@draft_order
  %p#turn=@turn
  

/ %div#timer







:javascript
  $(document).ready(function(){
    // sets an empty array called timeOuts 
    var timeOuts = new Array()

    // This highlights the name of the person whose turn it is
    $('li').eq($('#turn').text()).css('background-color', '#EAEAEA')

    // This is what initializes the Faye client
    var broadcast_server = "#{broadcast_server}"
    var faye;
    faye = new Faye.Client(broadcast_server);
    faye.connect();
    Faye.Transport.WebSocket.isUsable = function(_,c) { c(false) }

    // This is how the lc triggers the start signal to be sent to all other users
    if (#{@user.lc} === true) {
      var publication = faye.publish("/#{@league.id}/draft/start", {
        data: "data"
      });
    }

    // This is the Autopick function
    function Autopick() {
      //if (#{@user.lc} === true) {
     // var clear = clearTimeout(autopick)
        var autoname = $('#up').text()
        var array = $('.available')
        var count = array.length
        var rand = Math.floor(Math.random() * count)
        var choice = array[rand].id
        $.ajax({type: "POST", url: "add_to_team", 
          data: {user: autoname, member: choice, turn: #{@turn}},
          dataType: 'json',
          success: 
          function(data){
            // Broadcasts the results of the autopic to the Faye channel "/#{@league.id}/draft/pick"
            var publication = faye.publish("/#{@league.id}/draft/pick", {
              username: autoname,
              member: choice
            });
          }
        });
        // set the return value to false in an attempt to prevent the bubbling issues with setTimeout.  It's had no effect.
        return false
      //}
    }

    // This is the autodraft feature implemented by the LC in the case where the first user up takes longer than 2 minutes to make a selection.
    if (#{@user.lc} === true) {
     timeOuts.push(setTimeout(Autopick, 120000));
    }
    
    // This implements the autrodraft feature in the case where the first user is not logged-in.
    if (#{@user.lc} === true) {
      var online = #{@online.to_json}
      var user = $('#up').text()
      if ($.inArray(user, online) == -1){
        Autopick()
      }
    }

    // This handles the case where the user is the first one up or has refreshed their page.  Otherwise, the function below is triggered by incoming messages on /draft/pick.  See below.
    var up = $('#up').text()
    if (up === "#{@user.username}") {
      // $('#flash_notice').html("<span>It's your turn! You have </span><span id = timer></span><span> to make your selection from the contestant pool below.</span>");
      $('button:not(#start_draft)').removeClass('temp_block');
      // Calls the CreateTimer function defined in /assets/javascripts/timer.js
      //CreateTimer('timer', 120);
    }
    else {
      $('button').addClass('temp_block')
    }

    // This displays who is on the clock for the first turn or if users hit refresh.
    
    var flash = "<span>" + up + " is on the clock: </span><span id = timer></span><span> remaining.</span>"
    $('#flash_notice').html(flash)
    CreateTimer('timer', 120);

    // This is the regular button by which users make their selection.  This only applies to the first person who is up.  Otherwiser, the click event is handled by a binding set in the Faye 'draft/pick' channel.
    $('.draft_bottom_content').off().on('click', "button.available:not(.temp_block)", function(e){
      //if(event.target != this){
        //return true;
      //}
      // You need this line of code so that the event is immediately unbound upon firing, thereby preventing bubbling.
      //$(".draft_bottom_content").off( "click", "**" )  
      e.stopPropagation();
      $this = $(this)
      id = $this.attr("id")
      $.ajax({type: "POST", url: "add_to_team", 
        data: {user: "#{@user.username}", member: id, turn: #{@turn}},
        dataType: 'json',
        beforeSend:
          function(){
            var answer = confirm("Would you like " + id.replace("_", " ") + " to be on your team?")
            if (answer){
              return true
            }
            else {
              // alert('you decided not to click this')
              return false
            }
          },


        success: 
        function(data){
          $('#flash_notice').html('')
          var member = $this.attr('id')
          var publication = faye.publish("/#{@league.id}/draft/pick", {
            username: "#{@user.username}",
            member: member
          });

        }
      });
      
    });
    // THE END OF CODE APPLYING ONLY TO THE FIRST TIME USERS LOG IN OR REFRESH PAGE



    // ****************************************************************************
    // ****************************************************************************
    // ****************************************************************************



    // BEGINNING OF CODE APPLYING TO ACTIONS PROMPTED BY RECEIVING BROADCAST ON FAYE CHANNEL /DRAFT/id/PICK

    // This is how users subscribe to the /draft/pick channel and handle the incoming data.  These are the functions that are applicable for all selections except the very first one or in the case where someone hits refresh.
    var subscription = faye.subscribe("/#{@league.id}/draft/pick", function(data) {
      //debugger
      // This creates a function to clear all of the setTimeout events in our timeOuts array.
      function clearTimeouts(){  
        for( key in timeOuts ){  
          clearTimeout(timeOuts[key]);  
        }  
      } 
      //debugger

      // Here is an alternate method to clear the timeOuts array
      for(var i=0; i<timeOuts.length; i++) clearTimeout(timeOuts[i]);
      timeOuts = []; //quick reset of the timer array you just cleared

      // This is how the LC sets the autodraft each time the Faye channel receives a broadcast
      if (#{@user.lc} === true) {
       timeOuts.push(setTimeout(Autopick, 120000));
       }
       
      // This is the autodraft feature implemented by the LC in the case where the user who is 'up' is not logged-in.
      if (#{@user.lc} === true) {
        var online = #{@online.to_json}
        var user = $('#up').text()
        if ($.inArray(user, online) == -1){
          Autopick()
        }
      }

     // if (#{@user.lc} === true) {
        //var timeOuts = new Array()
       // var uniqueID = "autopick" + newval
       // timeOuts[uniqueID] = setTimeout(Autopick,10000)
        //debugger
        //debugger
        //var clear = clearTimeout(autopick)
        //var autopick = 0
        //var autopick = setTimeout(Autopick, 5000)
        //debugger
     // }

      //var clear = clearTimeout(first_autopick)
      
      // This is the autodraft feature implemented by the LC in the case where the first user up takes longer than 2 minutes to make a selection.
      // This was an attempt to avoid possible errors caused by setTimeouts having the same name, i.e. 'autopick' It appends a numeric value to each variable name.  Unfortunately, the clear function is somehow not recognizing this.
      //if (#{@user.lc} === true) {
        //eval("clearTimeout(autopick" + current + ")")
        //eval("var autopick" + newval + " = setTimeout(Autopick, 15000)")
        //debugger
      //}

      // This populates the results table, makes the selection button unavailable for future turns and updates the hidden 'div#turn' element's value to reflect the change in turn.
      $('tr#' + data.username + '_pick td:empty:eq(0)').text(data.member.replace("_", " "))
      $('button#' + data.member).addClass('unavailable').removeClass('available');          
      var current = parseInt($("#turn").text(),10); 
      var newval = current + 1; 
      $('#turn').text(newval);

      // This highlights the person who's turn it is on the draft order list.
      $('li').eq(0).css('background-color', '#99C5E6')
      $('li').eq(current).css('background-color', '#99C5E6')
      $('li').eq(newval).css('background-color', '#EAEAEA')

      // This is what ends the draft when all the choices have been made.
      var draft_order = #{@draft_order.to_json}
      if (newval >= #{@draft_order.length}) {
      // This is what sets the :draft_active attribute for the league back to false.
        $.post('end_draft')

        alert("The draft has ended!");
        window.location.href = "/users/#{@user.id}";
        
      }

      // This is the same as the function above and handles the majority of cases, where the user who is up receives that message after the draft has started, as a result of updates to #turn made by subscription to /draft/pick
      $('#up').text(draft_order[newval]);

      var up = $('#up').text()
      if (up === "#{@user.username}") {
        // $('#flash_notice').html("<span>It's your turn! You have </span><span id = timer></span><span> to make your selection.</span>");
        $('button:not(#start_draft)').removeClass('temp_block');
       // CreateTimer('timer', 120);

        //var autopick = setTimeout(Autopick, 20000)
      }

      else {
        $('button').addClass('temp_block')
      }

      // This displays who is on the clock.
      var flash = "<span>" + up + " is on the clock: </span><span id = timer></span><span> remaining.</span>"
      $('#flash_notice').html(flash)
      CreateTimer('timer', 120);
      

      

      // This is the regular button by which users make their selection.

      $('.draft_bottom_content').off().on('click', "button.available:not(.temp_block)", function(e){
        //if(event.target != this){
          //return true;
        //}
        // You need this line of code so that the event is immediately unbound upon firing, thereby preventing bubbling.  This entire function is replicated inside of this Faye subscription because the event needs to be re-bound each time someone makes a selection.  Otherwise it is impossible to make a selection back-to-back.
        //$(".draft_bottom_content").off( "click", "**" )  
        e.stopPropagation();
        $this = $(this)
        id = $this.attr("id")
        $.ajax({type: "POST", url: "add_to_team", 
          data: {user: "#{@user.username}", member: id, turn: #{@turn}},
          dataType: 'json',
          beforeSend:
            function(){
              return confirm("Would you like " + id.replace("_", " ") + " to be on your team?")
            },
          success: 
          function(data){
            function clearTimeouts(){  
              for( key in timeOuts ){  
                clearTimeout(timeOuts[key]);  
              }  
            } 

            $('#flash_notice').html('')
            var member = $this.attr('id')
            var publication = faye.publish("/#{@league.id}/draft/pick", {
              username: "#{@user.username}",
              member: member
            });

          }
        });
        
      });

        
     //debugger
    });
    // End of code associated with Faye /draft/pick subscription

    // This adds the bio div to each of the contestants.
    // Abi-Maria Gomes
    $('#Abi-Maria_Gomes_bio').html("<p><strong>Abi-Maria</strong><br /><b>Tribe</b><span>Tandang</span>      <br />      <b>Age</b>      <span>32</span>      <br />      <b>Hometown</b>      <span>Los Angeles, CA</span>      <br />      <b>Occupation</b>      <span>Business Student</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>5</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        Thinks she’s smarter, more charming and more athletic than she’ll end up being, but lands on a nice tribe where her energy and education may fit nicely. Once she’s in a groove, she could go far.      </span>      <br />    </p>    ")

    // Angie_Layton_bio
    $('#Angie_Layton_bio').html("<p>      <strong>Angie</strong>      <br />      <b>Tribe</b>      <span>Matsing</span>      <br />      <b>Age</b>      <span>20</span>      <br />      <b>Hometown</b>      <span>Provo, UT</span>      <br />      <b>Occupation</b>      <span>Model/Student</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>3</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        The former Miss Teen Utah and 3rd place finisher in Miss Teen USA is this season’s resident bombshell. History says that women that look like this either get bounced early or go way too far on little game. Bet on the latter.      </span>      <br />    </p>")

    // Artis_Silvester_bio
    $('#Artis_Silvester_bio').html("<p>      <strong>Artis</strong>      <br />      <b>Tribe</b>      <span>Tandang</span>      <br />      <b>Age</b>      <span>53</span>      <br />      <b>Hometown</b>      <span>Terry Town, LA</span>      <br />      <b>Occupation</b>      <span>Computer Engineer</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>10</span>      <br />      <b>The Lab Work</b><span class='bio_float'>        The cancer survivor and gulf coast resident is a potential disaster in the making. He’s lists Rudy, James, and Rupert – who collectively had almost zero game – as his model survivors, his ex-wife as his best friend, and describes himself as explosive and opinionated. On the other hand, could go far because everyone wants to take him to the finals. Draft with caution.</span><br /></p>")

    // Carter_Williams_bio
    $('#Carter_Williams_bio').html("<p>      <strong>Carter</strong>      <br />      <b>Tribe</b>      <span>Kalabaw</span>      <br />      <b>Age</b>      <span>24</span>      <br />      <b>Hometown</b>      <span>Shawnee, KA</span>      <br />      <b>Occupation</b>      <span>Track Coach</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>6</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        After running distance events for the track team at Biola University in Southern California, Carter shouldn’t find the challenges as physically demanding as some. But is this cast young enough for his playful nature to be accepted? He should be amicable enough to get to the jury, but his tribe looks weak and from there he’ll be on his own.      </span>      <br />    </p>")

    // Dana_Lambert_bio
    $('#Dana_Lambert_bio').html("<p>      <strong>Dana</strong>      <br />      <b>Tribe</b>      <span>Kalabaw</span>      <br />      <b>Age</b>      <span>32</span>      <br />      <b>Hometown</b>      <span>Winston-Salem, NC</span>      <br />      <b>Occupation</b>      <span>Cosmetologist</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>17</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        Contestants from the hair, nail, and skin professions rarely last. On the other hand, she seems to be bringing energy and positivity and could surprise. She’s a wild card.      </span>      <br />    </p>")

    // Denise_Stapley_bio
    $('#Denise_Stapley_bio').html("<p>      <strong>Denise</strong>      <br />      <b>Tribe</b>      <span>Matsing</span>      <br />      <b>Age</b>      <span>41</span>      <br />      <b>Hometown</b>      <span>Cedar Rapids, IA</span>      <br />      <b>Occupation</b>      <span>Sex Therapist</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>2</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        Contestants from the hair, nail, and skin professions rarely last. On the other hand, she seems to be bringing energy and positivity and could surprise. She’s a wild card.      </span>      <br />    </p>")

    // Jeff_Kent_bio
    $('#Jeff_Kent_bio').html("<p>      <strong>Jeff</strong>      <br />      <b>Tribe</b>      <span>Kalabaw</span>      <br />      <b>Age</b>      <span>44</span>      <br />      <b>Hometown</b>      <span>Austin, TX</span>      <br />      <b>Occupation</b>      <span>Retired Professional Baseball Player</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>13</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        In 17 seasons in the majors, Jeff Kent was named an all-star on five separate occasions, won the 2000 National League MVP, and is major league baseball’s all-time leader in home runs for a second baseman. He knows how to be part of a team, how to motivate, and how to compete. Now, will it work on an island, without a lot of food, with a tribe full of regular people instead of world class athletes? Ask Jimmy Johnson.      </span>      <br />    </p>")

    // Jonathan_Penner_bio
    $('#Jonathan_Penner_bio').html("<p>      <strong>Jonathan</strong>      <br />      <b>Tribe</b>      <span>Kalabaw</span>      <br />      <b>Age</b>      <span>50</span>      <br />      <b>Hometown</b>      <span>Los Angeles, CA</span>      <br />      <b>Occupation</b>      <span>Writer</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>9</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        Jonathan Penner returns for a third crack at the game after going deep on “Survivor: Cook Islands” and being evac-ed with a knee infection from “Survivor: Micronesia.” Jonathan’s game in both of his prior seasons was bull-in-a-china shop, which kind of worked once and wasn’t totally working the second time. Has age and maturity calmed him down enough to take his game to the next level?      </span>      <br />    </p>")

    // Katie_Hanson_bio
    $('#Katie_Hanson_bio').html("<p>      <strong>Katie</strong>      <br />      <b>Tribe</b>      <span>Kalabaw</span>      <br />      <b>Age</b>      <span>22</span>      <br />      <b>Hometown</b>      <span>Newark, DE</span>      <br />      <b>Occupation</b>      <span>Former Miss Delaware</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>14</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        Is being an ex-pageant winner an occupation? Apparently she’ preparing for the Delaware Police Academy, so there’s potential there for toughness, but other interests include shopping, jogging, and hanging with mom. Sadly, Katie seems motivated by fame and money, and that’s rarely a recipe for success when s*&% hits the fan. This beauty queen will be outlasted by the other. She does look great in a bikini though, and that’s always good for something.      </span>      <br />    </p>")

    // Lisa_Whelchel_bio
    $('#Lisa_Whelchel_bio').html("<p>      <strong>Lisa</strong>      <br />      <b>Tribe</b>      <span>Tandang</span>      <br />      <b>Age</b>      <span>49</span>      <br />      <b>Hometown</b>      <span>Dallas, TX</span>      <br />      <b>Occupation</b>      <span>Retired Teen Television Star</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>15</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        Oh boy. One of the former stars of the “The Facts of Life” is returning to television here after a couple of decades off to raise three kids. She is excited to meet Jeff Probst and thinks that being from Texas will be an asset. Prediction: crying and homesick, early.      </span>      <br />    </p>")

    // Malcom_Freberg_bio
    $('#Malcom_Freberg_bio').html("<p>      <strong>Malcolm</strong>      <br />      <b>Tribe</b>      <span>Matsing</span>      <br />      <b>Age</b>      <span>25</span>      <br />      <b>Hometown</b>      <span>Hermosa Beach, CA</span>      <br />      <b>Occupation</b>      <span>Bartender</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>7</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        A little cocky, a lot vain, but sometimes that works. The party animal from Southern California has been watching survivor since he was 12 years old and dreaming about playing, and this is his chance. A virtual lock to form an alliance with beauty queen Angie, who is on his tribe, and to do well in early challenges.      </span>      <br />    </p>")

    // Michael_Skupin_bio
    $('#Michael_Skupin_bio').html("<p>      <strong>Michael</strong>      <br />      <b>Tribe</b>      <span>Tandang</span>      <br />      <b>Age</b>      <span>50</span>      <br />      <b>Hometown</b>      <span>White Lake, MI</span>      <br />      <b>Occupation</b>      <span>Professional Speaker, Author and Coach</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>11</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        The upside here is Johnny Fairplay. The downside is a dude that can’t make friends is the first guy out on his tribe. Zane thinks he can mingle with anyone – well here’s his chance: his tribe includes a seminary student, a sex therapist, and a beauty queen.      </span>      <br />    </p>")

    // Pete_Yurkowski_bio
    $('#Pete_Yurkowski_bio').html("<p>      <strong>Pete</strong>      <br />      <b>Tribe</b>      <span>Tandang</span>      <br />      <b>Age</b>      <span>24</span>      <br />      <b>Hometown</b>      <span>Holmdel, NJ</span>      <br />      <b>Occupation</b>      <span>Engineering Graduate</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>17</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        Jersey Shore comes to Survivor. Don’t be fooled by the engineering label – Pete is a meathead of the highest order who thinks he can dominate this game through sheer force of will. The elder statesmen on the Tandang tribe aren’t having it.      </span>      <br />    </p>")

    // RC_Saint-Amour_bio
    $('#RC_Saint-Amour_bio').html("<p>      <strong>RC</strong>      <br />      <b>Tribe</b>      <span>Tandang</span>      <br />      <b>Age</b>      <span>27</span>      <br />      <b>Hometown</b>      <span>New York, NY</span>      <br />      <b>Occupation</b>      <span>Investment Banker</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>1</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        RC is tough as nails and won’t be rattled by the elements, the game, or her competitors. She’s a competitive swimmer that holds national masters’ records, went to Wellsley, and survives daily on male-dominated Wall Street. The only question will be if she’s too tough for her fellow survivors.      </span>      <br />    </p>")

    // Roxy_Moriss_bio
    $('#Roxy_Moriss_bio').html("<p>      <strong>Roxy</strong>      <br />      <b>Tribe</b>      <span>Matsing</span>      <br />      <b>Age</b>      <span>28</span>      <br />      <b>Hometown</b>      <span>Brooklyn, NY</span>      <br />      <b>Occupation</b>      <span>Seminary Student</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>12</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        Tough call. Her age makes her a likely candidate to fall in line with tribemates Malcolm and Angie, but the religion thing is a question mark – there is reason some people don’t talk about sex, religion, or politics. How she plays that card will determine her fate.      </span>      <br />    </p>")

    // Russell_Swan_bio
    $('#Russell_Swan_bio').html("<p>      <strong>Russell</strong>      <br />      <b>Tribe</b>      <span>Matsing</span>      <br />      <b>Age</b>      <span>45</span>      <br />      <b>Hometown</b>      <span>Glenside, PA</span>      <br />      <b>Occupation</b>      <span>Environmental Attorney</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>4</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        Russell fainted mid-immunity challenge on “Survivor: Samoa” in what host Jeff Probst calls “The scariest moment I’ve ever had on the show.” Now he’s back for payback against the game that got the best of him. Prior to passing out, he was playing a solid game and should have gone much further. The most adaptable and the one to have played the most recently of the three returning cast members, Russell should go the furthest.      </span>      <br />    </p>")

    // Sarah_Dawson_bio
    $('#Sarah_Dawson_bio').html("<p>      <strong>Dawson</strong>      <br />      <b>Tribe</b>      <span>Kalabaw</span>      <br />      <b>Age</b>      <span>28</span>      <br />      <b>Hometown</b>      <span>Silver Spring, MD</span>      <br />      <b>Occupation</b>      <span>Insurance Sales</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>8</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        Everything Dawson touches comes dripping with sarcasm, which she says is an “underrated art,” and “should qualify as a hobby.” This should put her in the good graces of returning cast member Jonathan Penner, and the two would be a likely duo to team up to vote out MLB All-Star Jeff Kent just because. Look for her to ruffle feathers immediately.      </span>      <br />    </p>")

    // Zane_Knight_bio
    $('#Zane_Knight_bio').html("<p>      <strong>Zane</strong>      <br />      <b>Tribe</b>      <span>Matsing</span>      <br />      <b>Age</b>      <span>28</span>      <br />      <b>Hometown</b>      <span>Danville, VA</span>      <br />      <b>Occupation</b>      <span>Tire Repair</span>      <br />      <b>Reality Labs Pre-Season Rank</b>      <span>18</span>      <br />      <b>The Lab Work</b>      <span class='bio_float'>        The upside here is Johnny Fairplay. The downside is a dude that can’t make friends is the first guy out on his tribe. Zane thinks he can mingle with anyone – well here’s his chance: his tribe includes a seminary student, a sex therapist, and a beauty queen.      </span>      <br />    </p>")
     


    // This controls the hover behavior for displaying the cast bios.
    $('.available img, .unavailable img').on('mouseover', function(){var selector = "#" + $(this).parent().attr('id') +"_bio"; $(selector).slideDown()})
    $('.available img, .unavailable img').on('mouseout', function(){var selector = "#" + $(this).parent().attr('id') +"_bio"; $(selector).slideUp()})
    // This adds a special class on to the last bios in all three columns, so that they can be repositioned.
    / $('.left_col .cast_bio:last').addClass('last_bio')
    / $('.center_col .cast_bio:last').addClass('last_bio')
    / $('.right_col .cast_bio:last').addClass('last_bio')
  });