%h1 Draft Page
= @params
= current_user.league_id.class
= params[:id].class
%table
  %thead
    %tr
      %th Signed In
      %th Not Signed In

  %tbody
  - @users.each do |user|
    %tr
      =online(user)
      =offline(user) 

%div#draft_order
  %h3= "# of Contestants: #{@ncontestants}"
  %h3= "# of League Members: #{@nusers}"
  %h3= "Max # of contestants per team (also # of rounds in draft): #{@nrounds}" 
  %h3= "Length of draft pick array: #{@narray}"
  - @pick_list.each do |user|
    %p= user.username


/ %table
/   %thead
/     %tr
/       = draft_order_head
/   %tbody
/     = draft_order_body