%h1 Create New League

= form_tag leagues_path do

  = label :league, :name, 'Name'
  = text_field :league, 'name'

  = label :league, :confirmation_code, 'Confirmation Code'
  = text_field :league, 'confirmation_code'

  = label :user, :username, 'Username'
  = text_field :user, 'username'

  = label :user, :password, 'Password'
  = text_field :user, 'password'

  = submit_tag 'Create New League'