%div.hero
	%div.hero_inset_image
		%h1.league_header Create New League
		= form_tag leagues_path do
			%div.hero_left.new_user_hero_div
				%div.opacity
					%h2.league_subheader#league_subheader League Info
					%p.description#league_description Please choosse a name and confirmation code for your new leage.  You'll need to give this information to all of the friends you invite in order for them to join the league, so please write it down.  
					%p.league_field
						= label :league, :name, 'Name', :class => "league_label"
						= text_field :league, :name, :class => "league_input"


					%p.league_field
						= label :league, :confirmation_code, 'Code', :class => "league_label"
						= text_field :league, :confirmation_code, :class => "league_input"
				%div.opacity
					%h2.league_subheader#user_subheader User Info
					%p.description#user_description You'll log in for future visits with your username and password.  We ask for your email in case you need to reset your password.
					%p.league_field
						= label :user, :username, 'Username', :class => "league_label"
						= text_field :user, :username, :class => "league_input"

					%p.league_field
						= label :user, :password, 'Password', :class => "league_label"
						= password_field :user, :password, :class => "league_input"

					%p.league_field
						= label :user, :email, 'Email', :class => "league_label"
						= email_field :user, :email, :class => "league_input"	
								

			%div.hero_right.new_user_hero_div
				%div.opacity
					%h2.league_subheader#invite_subheader Invite Friends
					%p.description#invite_description Invite up to 8 friends you'd like to have in your league.  Just enter their email addresses below and they will receive an invitation with your league name and confirmation code.  That's the ONLY email they'll ever receive from us, we promise!
					%p.league_field
						= label :invite, :email, 'Email Address', :class => "league_label"
						= email_field :invite, :email1, :class => "league_invite"
						= email_field :invite, :email2, :class => "league_invite"
						= email_field :invite, :email3, :class => "league_invite"
						= email_field :invite, :email4, :class => "league_invite"
						= email_field :invite, :email5, :class => "league_invite"
						= email_field :invite, :email6, :class => "league_invite"
						= email_field :invite, :email7, :class => "league_invite bottom_row"
						= email_field :invite, :email8, :class => "league_invite bottom_row"
						%div.clear
				= submit_tag 'Create New League!', :class => "new_league_submit"
				
			%div.clear
			
			

			
			

:javascript
	$(document).ready(function(){
		$('#league_subheader').on('mouseover', function(){
			$('#league_description').css('display', 'block')
		});
		$('#league_subheader').on('mouseout', function(){
			$('#league_description').css('display', 'none')
		});

		$('#user_subheader').on('mouseover', function(){
			$('#user_description').css('display', 'block')
		});
		$('#user_subheader').on('mouseout', function(){
			$('#user_description').css('display', 'none')
		});

		$('#invite_subheader').on('mouseover', function(){
			$('#invite_description').css('display', 'block')
		});
		$('#invite_subheader').on('mouseout', function(){
			$('#invite_description').css('display', 'none')
		});

		//$('#league_name').bind('change', function () {
			//var league_name = $('#league_name').val()
			//$('textarea').val(function(index, value){
				//var new_name = value.replace("Your League Name", league_name)
				//return new_name
			//});
		//});

		//$('#league_confirmation_code').bind('change', function () {
			//var league_code = $('#league_confirmation_code').val()
			//$('textarea').val(function(index, value){
				//var new_code = value.replace("Your League Code", league_code)
				//return new_code
			//});
		//});

	})