%h1 Start Draft Page
= draft_board

=contestant_pool

/ :javascript
/   $(document).ready(function(){
/     $("button").on('click', function(){
/       id = $(this).attr("id")
/       $.ajax({type: "POST", url: "add_to_team", data: "member="+id, dataType: 'json',
/         beforeSend:
/         function(){
/         return confirm("You sure you want to add this guy?")
/         },
/         success: 
/         function(data){
/           $('td#'+ data.username + "_pick" + data.team.length).html(data.team[data.team.length -1])}
/       });
/     });
/   });

:javascript
  $(document).ready(function(){
    var faye = new Faye.Client('http://localhost:9292/faye');
    faye.subscribe("/messages/new", function(data) {
      alert(data);
    });
    $("button.available").live('click', function(){
      $this = $(this)
      id = $this.attr("id")
      $.ajax({type: "POST", url: "add_to_team", 
        data: {member: id, turn: #{@turn}},
        dataType: 'json',
        beforeSend:
        function(){
        return confirm("You sure you want to add this guy?")
        },
        success: 
        function(data){
          $('td#'+ data.username + "_pick" + data.team.length).html(data.team[data.team.length -1]);
          $this.addClass('unavailable').removeClass('available');          
          var current = parseInt($("#turn").text(),10); 
          var newval = current + 1; 
          $('#turn').text(newval);
          var draft_order = #{@draft_order.to_json}
          $('#up').text(draft_order[newval - 1])
          }
      });
    });
  });


%div#order
  =@draft_order
  %p#turn=@turn
  %p#up brian

/ :javascript 
/   $(document).ready(function(){

/     var turn = $('#up').text();
/     if ("#{@user.username}" == turn)
/       {alert ("working")}
   
/   });  


/           $('#turn').replaceWith('<p id="turn">#{@turn + 1}</p>');
/ $('#up').replaceWith('<p id="up">#{@draft_order[newval]}</p>');