%div.hero
  %div.hero_inset
    %h1.league_name
      = @league.name + ":"
      %span The Draft Has Begun!
    %div#flash_notice
    =draft_order
    / %div.draft_order
    /   %h2 Draft Order
    /   = draft_order
    /   %div.clear
    /   %div.placeholder
    = draft_board
%div.draft_bottom_content
  %h2 Contestant Pool 
  =contestant_pool
  %div.clear

%div#order
  / =@draft_order
  %p#turn=@turn
  %p#up=@up

%div#timer

%button#clickme Faye Test

$('#clickme').live('click', function(){
  faye.broadcast('/#{@league.id}/draft/pick', {data:"data"})
})





:javascript
  $(document).ready(function(){


    $('li').eq($('#turn').val()).css('background-color', '#EAEAEA')



  var up = $('#up').text()
  if (up === "#{@user.username}") {
        $('#flash_notice').html("<span>It's your turn! You have </span><span id = timer></span><span> to make your selection from the contestant pool below.</span>");
        $('button:not(#start_draft)').removeClass('temp_block');
        CreateTimer('timer', 120);
        setTimeout(function(){

        var array = $('.available')
        var count = array.length
        var rand = Math.floor(Math.random() * count)
        var choice = array[rand].id
        $.ajax({type: "POST", url: "add_to_team", 
          data: {user: "#{@user.username}", member: choice, turn: #{@turn}},
          dataType: 'json',
          success: 
          function(data){
            var string = 'message={"channel":"/#{@league.id}/draft/pick", "data":{"username":"#{@user.username}", "team":#{@user.team.to_json}, "member":"' + choice + '"}'
            $.ajax({
              type: 'POST',
              url: "http://realitylabs-server.herokuapp.com/faye",
              data: string,
              dataType: "json",
              xhrFields: {
                withCredentials: true
              },
              crossDomain: true
              });
            }
          });
        




        }, 120000)

      }
      else {
        $('button').addClass('temp_block')
      }

  var faye = new Faye.Client('http://realitylabs-server.herokuapp.com/faye');
  Faye.Transport.WebSocket.isUsable = function(_,c) { c(false) }
  faye.subscribe("/#{@league.id}/draft/pick", function(data) {
      
      $('tr#' + data.username + '_pick td:empty:eq(0)').text(data.member.replace("_", " "))
      $('button#' + data.member).addClass('unavailable').removeClass('available');          
      var current = parseInt($("#turn").text(),10); 
      var newval = current + 1; 
      $('#turn').text(newval);

      $('li').eq(current).css('background-color', '#99C5E6')
      $('li').eq(newval).css('background-color', '#EAEAEA')

      var draft_order = #{@draft_order.to_json}

      if (newval >= #{@draft_order.length}) {
        alert("The draft has ended!");
        window.location.href = "/users/#{@user.id}";
        
      }

      $('#up').text(draft_order[newval]);

      var up = $('#up').text()
      if (up === "#{@user.username}") {
        $('#flash_notice').html("<span>It's your turn! You have </span><span id = timer></span><span> to make your selection.</span>");
        $('button:not(#start_draft)').removeClass('temp_block');
        CreateTimer('timer', 120);
        setTimeout(function(){

        var array = $('.available')
        var count = array.length
        var rand = Math.floor(Math.random() * count)
        var choice = array[rand].id
        $.ajax({type: "POST", url: "add_to_team", 
          data: {user: "#{@user.username}", member: choice, turn: #{@turn}},
          dataType: 'json',
          success: 
          function(data){
            var string = 'message={"channel":"/#{@league.id}/draft/pick", "data":{"username":"#{@user.username}", "team":#{@user.team.to_json}, "member":"' + choice + '"}'
            $.ajax({
              type: 'POST',
              url: "http://realitylabs-server.herokuapp.com/faye",
              data: string,
              dataType: "json",
              xhrFields: {
                withCredentials: true
              },
              crossDomain: true
              });
            }
          });
        




        }, 120000)

      }
      else {
        $('button').addClass('temp_block')
      }

      if (#{@user.lc == true}) {
        var offline = #{@offline.to_json}
        for (var i=0; i<offline.length; i++) {
          if (up === offline[i]) {

            var array = $('.available')
            var count = array.length
            var rand = Math.floor(Math.random() * count)
            var choice = array[rand].id
            $.ajax({type: "POST", url: "add_to_team", 
              data: {user: up, member: choice, turn: #{@turn}},
              dataType: 'json',
              success: 
              function(data){
                $('#flash_notice').html('')
                var up = $('#up').text()
                var string = 'message={"channel":"/#{@league.id}/draft/pick", "data":{"username":"' + up + '", "team":#{@user.team.to_json}, "member":"' + choice + '"}'
                $.ajax({
                  type: 'POST',
                  url: "http://realitylabs-server.herokuapp.com/faye",
                  data: string,
                  dataType: "json",
                  xhrFields: {
                    withCredentials: true
                  },
                  crossDomain: true
                });
              }
            });
          }
        }
      }

    });
  faye.subscribe("/#{@league.id}/draft/auto_pick", function(data) {
      setTimeout('window.location.href = "/leagues/#{@league.id}/draft_page"', 500)
    });
  faye.subscribe("/#{@league.id}/draft/stop", function(data) {
      setTimeout('alert("The draft has ended!"); window.location.href = "/users/#{@user.id}";', 500)
    });
  });


/ This is the regular button by which users make their selection.
:javascript
  $(document).ready(function(){
      $("button.available:not(.temp_block)").live('click', function(){
        $this = $(this)
        id = $this.attr("id")
        $.ajax({type: "POST", url: "add_to_team", 
          data: {user: "#{@user.username}", member: id, turn: #{@turn}},
          dataType: 'json',
          beforeSend:
            function(){
              return confirm("Would you like " + id.replace("_", " ") + " to be on your team?")
            },
          success: 
          function(data){
            $('#flash_notice').html('')
            var member = $this.attr('id')
            var string = 'message={"channel":"/#{@league.id}/draft/pick", "data":{"username":"#{@user.username}", "team":#{@user.team.to_json}, "member":"' + member + '"}'
            $.ajax({
            type: 'POST',
            url: "http://realitylabs-server.herokuapp.com/faye",
            data: string,
            dataType: "json",
            xhrFields: {
              withCredentials: true
            },
            crossDomain: true
            });
          }
        });
      });
    
  });

/ This is how the LC triggers the 'Your draft is starting!' dialog box on the other users' 'show' pages.  This is redundant, as the Faye message should have been sent when the LC set the draft, but this has not been consistent.
:javascript
  if (#{@user.lc} === true) {
    $.ajax({
      type: 'POST',
      url: "http://realitylabs-server.herokuapp.com/faye",
      data: 'message={"channel":"/#{@league.id}/draft/start", "data":"data"}',
      dataType: "json",
      xhrFields: {
        withCredentials: true
      },
      crossDomain: true
    });
  }