%h1 Start Draft Page
%div#flash_notice
= draft_board

=contestant_pool

%div#order
  =@draft_order
  %p#turn=@turn
  %p#up=@draft_order[@turn]


%button#alert Press Me

/ This is how the LC triggers the 'Your draft is starting!' dialog box on the other users' 'show' pages.
:javascript
  if (#{@user.lc} === true) {
    $.ajax({
      type: 'POST',
      url: "http://localhost:9292/faye",
      data: 'message={"channel":"/draft/start", "data":"data"}'
    });
  }


:javascript
  $(document).ready(function(){
  var up = $('#up').text()
  if (up === "#{@user.username}") {
        alert("It's your turn! You have 2 minutes to make your selection.");
        $('button').removeClass('temp_block')
      }
      else {
        $('button').addClass('temp_block')
      }

  var faye = new Faye.Client('http://localhost:9292/faye');
  faye.subscribe("/draft/pick", function(data) {
      setTimeout('window.location.href = "/leagues/#{@league.id}/draft_page"', 500)
    });
  faye.subscribe("/draft/stop", function(data) {
      setTimeout('alert("The draft has ended!"); window.location.href = "http://localhost:3000/users/#{@user.id}";', 500)
    });
    faye.subscribe("/draft/auto", function(data) {
        $('#flash_notice').text(data.member + " was auto-picked for " + data.username +".")
    });
  });



:javascript
  $(document).ready(function(){
      $("button.available:not(.temp_block)").live('click', function(){
        $this = $(this)
        id = $this.attr("id")
        $.ajax({type: "POST", url: "add_to_team", 
          data: {member: id, turn: #{@turn}},
          dataType: 'json',
          beforeSend:
          function(){
          return confirm("You sure you want to add this guy?")
          }
        });
      });
    
  });

/ This is just a practice trigger I have built in for testing purposes.
:javascript
  $("#alert").on('click', function() {
    var user = #{@user.to_json}
    var member = $("#alert").text()
    var string = 'message={"channel":"/draft/pick", "data":{"username":"#{@user.username}", "team":#{@user.team.to_json}, "member":"' + member + '"}'
    $.ajax({
    type: 'POST',
    url: "http://localhost:9292/faye",
    
    data: string
    });
  });

/ setTimeout('$(\'#flash_notice\').text(data.member + " was auto-picked for " + data.username +".")', 500)



