%h1 Start Draft Page
%button#start_draft Start Draft
%div#flash_notice
= draft_board

=contestant_pool

%div#order
  =@draft_order
  %p#turn=@turn
  %p#up=@up

%div#timer


%button#alert Press Me



:javascript
  $(document).ready(function(){


  if (#{@turn} === 0) {
    var string = 'message={"channel":"/#{@league.id}/draft/start", "data":"data"}'
    $.ajax({
    type: 'POST',
    url: "http://localhost:9292/faye",    
    data: string
    });
  }

  if (#{@league.draft_start} === true) {
    $('#start_draft').css('opacity', 1);
    $('#start_draft').on('click', function(){
      $.ajax({type: "POST", url: "begin_draft"});
    })
    }
  


  var up = $('#up').text()
  if (up === "#{@user.username}") {
        $('#flash_notice').html("<span>It's your turn! You have </span><span id = timer></span><span> to make your selection.</span>");
        $('button:not(#start_draft)').removeClass('temp_block');
        CreateTimer('timer', 120);
        setTimeout(function(){

        var array = $('.available')
        var count = array.length
        var rand = Math.floor(Math.random() * count)
        var choice = array[rand].id
        $.ajax({type: "POST", url: "add_to_team", 
          data: {member: choice, turn: #{@turn}},
          dataType: 'json',
          success: 
          function(data){
            var string = 'message={"channel":"/#{@league.id}/draft/auto_pick", "data":"data"}'
            $.ajax({
              type: 'POST',
              url: "http://localhost:9292/faye",
              data: string
              });
            }
          });
        




        }, 120000)

      }
      else {
        $('button').addClass('temp_block')
      }

  var faye = new Faye.Client('http://localhost:9292/faye');
  faye.subscribe("/#{@league.id}/draft/pick", function(data) {
      setTimeout('window.location.href = "/leagues/#{@league.id}/draft_page"', 500)
    });
  faye.subscribe("/#{@league.id}/draft/auto_pick", function(data) {
      setTimeout('window.location.href = "/leagues/#{@league.id}/draft_page"', 500)
    });
  faye.subscribe("/#{@league.id}/draft/stop", function(data) {
      setTimeout('alert("The draft has ended!"); window.location.href = "http://localhost:3000/users/#{@user.id}";', 500)
    });
  faye.subscribe("/#{@league.id}/draft/auto", function(data) {
      $('#flash_notice').text(data.member + " was auto-picked for " + data.username +".")
    });
  faye.subscribe("/#{@league.id}/draft/flash", function(data) {
      $('#flash_notice').text(data.message)
    });
  });



:javascript
  $(document).ready(function(){
      $("button.available:not(.temp_block)").live('click', function(){
        $this = $(this)
        id = $this.attr("id")
        $.ajax({type: "POST", url: "add_to_team", 
          data: {member: id, turn: #{@turn}},
          dataType: 'json',
          beforeSend:
            function(){
              return confirm("You sure you want to add this guy?")
            },
          success:
            function(){
              var string = 'message={"channel":"/#{@league.id}/draft/pick", "data":"data"}'
              $.ajax({
                type: 'POST',
                url: "http://localhost:9292/faye",
                data: string
              });
            }
        });
      });
    
  });

/ This is just a practice trigger I have built in for testing purposes.
:javascript
  $("#alert").on('click', function() {
    var user = #{@user.to_json}
    var member = $("#alert").text()
    var string = 'message={"channel":"/draft/pick", "data":{"username":"#{@user.username}", "team":#{@user.team.to_json}, "member":"' + member + '"}'
    $.ajax({
    type: 'POST',
    url: "http://localhost:9292/faye",
    
    data: string
    });
  });

/ setTimeout('$(\'#flash_notice\').text(data.member + " was auto-picked for " + data.username +".")', 500)



