%h1 Create New User

= form_tag users_path do

  = label :user, :username, 'Username'
  = text_field :user, 'username'

  = label :user, :password, 'Password'
  = text_field :user, 'password'

  = label :league, :name, 'League Name'
  = text_field :league, 'name'

  = label :league, :confirmation_code, 'League Confirmation Code'
  = text_field :league, 'confirmation_code'

  = submit_tag 'Create New User'