%h1 Create New User



/ Trying to display any possible error messages.  The code below is NOT working at present.
/ = if @user.errors.any? 
/   %div.error_messages
/     %h2 Form is invalid
/     %ul
/       - for message in @user.errors.full_messages
/       %li message

= form_tag users_path do
  %ul
  = label :user, :username, 'Username'
  %li= text_field :user, 'username'

  = label :user, :password, 'Password'
  %li= text_field :user, 'password'

  = label :user, :password_confirmation, 'Confirm Password'
  %li= text_field :user, 'password_confirmation'

  = label :league, :name, 'League Name'
  %li= text_field :league, 'name'

  = label :league, :confirmation_code, 'League Confirmation Code'
  %li= text_field :league, 'confirmation_code'

  %li= submit_tag 'Create New User'