%div.hero
  %div.hero_inset
    %h1.league_name= @league.name
    %h2.round_number= "Round #{@round}"
    %div.hero_left
      %h3.scoreboard_title Scoreboard
      %table#scoreboard.scoreboard
        %thead
          %tr
            %th Username
            %th Score

        %tbody
          - @users.each do |user|
            %tr
              %td= user.username 
              %td= user.score
        %tfoot
          %tr
            %td Current Score:
            %td= "#{@user.total_score}"
          %tr
            %td Score from Last Round:
            %td= "#{@user.score}"
      / %div#user_score.user_score        
      /   %p= "Current score: #{@user.total_score}"
      /   %p= "Score from last round: #{@user.score}"
    %div.hero_right
      %h3.team_table_title My Team
      / - @user.team.each do |member|
      /   %li= member
      =team
    %div.clear
%div#toolbar
  %ul
    %li My profile
    = lc
    =link_to "Draft Page", draft_page_path(@user.league_id)
    / %li= @user.lc == true ? "LC Control Box" : nil
  
:javascript
  $(document).ready(function(){
    var faye = new Faye.Client('http://localhost:9292/faye');
    faye.subscribe("/#{@user.league_id}/draft/start", function(data){
      alert("Your draft is starting!");
      window.location.href = "http://localhost:3000/leagues/#{@league.id}/draft_page";
    });  
    faye.subscribe("/#{@user.league_id}/draft/stop", function(data){
      alert("Your draft has ended!")
    }); 
  });


/ if (confirm("Your draft is starting!")) {
/   window.location.href("http://localhost:3000/leagues/#{@league.id}/draft");
/ }

