%div.hero
  %div.hero_inset
    %h1.league_name= @league.name
    %h2.round_number= "Round #{@round}"
    %div.hero_left
      %h3.scoreboard_title Scoreboard
      %table#scoreboard.scoreboard
        %thead
          %tr
            %th Username
            %th Score

        %tbody
          - @users.each do |user|
            %tr
              %td= user.username 
              %td= user.score
        %tfoot
          %tr
            %td Current Score:
            %td= "#{@user.total_score}"
          %tr
            %td Score from Last Round:
            %td= "#{@user.score}"
    %div.hero_right
      %h3.team_table_title My Team
      / - @user.team.each do |member|
      /   %li= member
      =team
    %div.clear
%div.bottom_content 
  %div.about
    %h1 Outwit - Outplay - Outlast
    %p Welcome to Reality Lab's Survivor Fantasy Game!  The game takes all the aspects of fantasy sports leagues that you love and brings them to the world of reality tv.  Start a league and invite your friends.  Pick Survivor contenders to be on your team through a realtime draft with other folks in your league.  Earn points based on how your team members perform each week.  Whoever has the most points at the end of the season wins!  
  %div.rules
    %h1 Gameplay
    %h2 Setting Up
    %p This is a description of how the user either creates a league and invites friends or joins a league that's already been created. 
    %h2 The Draft
    %p This describes the intricacies of the draft.
    %h2 Regular Gameplay
    %p This describes how scoring works during regular gameplay and how a winner is determined.
  %div.cast  
    %h1 Meet the Cast
    %p 
      This is where the content for Meet the Cast will go.  It will look just like this: 
      =link_to 'CBS Cast Bios', 'http://www.cbs.com/shows/survivor/cast/'
%div.sidebar 
  %ul
    %li#about About
    %li#rules How to Play
    %li#cast Meet the Cast
    %li#lc= lc
%div.clear
%button#pushme Faye Test
/ %div#toolbar
/   %ul
/     %li My profile
/     = lc
/     =link_to "Draft Page", draft_page_path(@user.league_id)
/     / %li= @user.lc == true ? "LC Control Box" : nil
  
:javascript
  var broadcast_server = "#{broadcast_server}"
  var faye;
  $(function() {
    faye = new Faye.Client(broadcast_server);
    faye.connect();
    Faye.Transport.WebSocket.isUsable = function(_,c) { c(false) }
    var subscription = faye.subscribe("/15/draft/start", function(data){
      alert(data)
    }); 
    subscription.callback(function() {
      alert('Subscription is now active!');
    }); 

    $('#pushme').on('click', function() {
      var publication = faye.publish("/15/draft/start", {data:"data"});
      alert(publication);
    })
      // spin off your subscriptions here
  });


/ if (confirm("Your draft is starting!")) {
/   window.location.href("http://localhost:3000/leagues/#{@league.id}/draft");
/ }
/ alert("Your draft is starting!");
/ window.location.href = "/leagues/#{@league.id}/draft_page";
